.our-work {
    @extend %section;
    padding-top: 0px;
    &__header {
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 0px;
      margin-bottom: 50px;
    }
}
.work-list {
    display: flex;
    @extend %off-style;
    & &__imege:not(:last-child) {
        margin-right: 30px;
    }
}
  